<div style="text-align: center;">
  	<button class="btn btn-primary" ui-sref="app.home">Voltar</button>
    <h2>{{$ctrl.title}}</h2>
    <br>
</div>

<form class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12 form-horizontal">
	<label>Nome <span style="color:#e74c3c">*</span></label>
    <input type="text" id="name" ng-model="$ctrl.user.name" class="form-control" required autofocus>
    <br>

    <label>Email <span style="color:#e74c3c">*</span></label>
    <input type="email" id="email" ng-model="$ctrl.user.email" class="form-control" required autofocus>
    <br>

    <label>Senha <span style="color:#e74c3c">*</span></label>
    <input type="password" id="senha" ng-model="$ctrl.user.password" class="form-control" required autofocus>
    <br>

    <button class="btn btn-primary btn-block" type="submit" ng-click="$ctrl.registerData($ctrl.user)">{{$ctrl.buttonLabel}}</button>
</form>