<form class="form-signin">
        <h2 class="form-signin-heading" style="text-align: center;">Cadastro de sistema</h2>

        <label for="inputName" class="sr-only">Nome</label>
        <input type="text" id="name" ng-model="$ctrl.system.name" class="form-control" placeholder="Nome" required autofocus>
        <br>
        <label for="inputDescription" class="sr-only">Descrição</label>
        <input type="text" id="description" ng-model="$ctrl.system.description" class="form-control" placeholder="Descrição" required>
        <br>
        <button class="btn btn-primary btn-block" ng-click="$ctrl.sendData($ctrl.system)" type="submit">Cadastrar</button>
</form>